body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.titulo-principal {
  padding-left: 20px;
}

#banner {
  width: 100%;
}

.principal {
  background-color: #cccccc;
  padding: 30px;
}

.titulo-centralizado {
  text-align: center;
}

p {
  text-align: center;
}

#missao {
  font-size: 20
}

em strong {
  color: red;
}

.beneficios {
  background-color: #ffffff;
  padding: 20px;
}

ul {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 15%;
}

.item {
  font-style: italic;
}

.imgBeneficios {
  width: 50%;
}
